html
  head
    meta(name='rebots' content='noindex,nofollow')
    title=title
    style
        include ../css/index.css
  body
    each item in pageList
        .list 
            img(src=item)
    include include/footer.pug