footer#footer
    .footer_content
        a.left(href='javascript:;', onclick='prev()')='上一页'
        .middle
            span.page=page
            span.split='/'
            span.count=count
        a.right(href='javascript:;', onclick='next()')='下一页'
    .footer_bg
script(src='/static/js/index.js')
